<div class="diaryentry">
  <p *ngIf="this.entryid && !diaryEntry"><em>Loading entry...</em></p>
  <table border="0" width="100%" cellspacing="3" cellpadding="3">
    <tr>
      <td colspan="2">{{user_message}}</td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button *ngIf="this.entryid" mat-raised-button color="primary" (click)="moveDay('prev')">Previous Day</button>
        <button *ngIf="this.entryid" mat-raised-button color="primary" (click)="moveDay('next')">Next Day</button>
        &nbsp;&nbsp;&nbsp;
        <button *ngIf="this.entryid" mat-raised-button color="primary" (click)="thisMonth()">Month View</button>
      </td>
    </tr>
    <tr>
      <td colspan="2" [ngStyle]="{'background-color': colorCell(completed),'color':colorCellFront(completed)}">
        {{completed+" out of "+planned}}
      </td>
    </tr>
    <tr>
      <td align="left" valign="top"  style="width: 800px;">
        <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Comment for {{display_day_date}}:</label>&nbsp;&nbsp;
            <mat-checkbox (change)="setHighlight($event)"
                          [checked]="is_highlight">
            </mat-checkbox>&nbsp;&nbsp;<label>Highlight</label>
            <br />
            <textarea id="title" formControlName="title" cols="100" rows="6" required placeholder="Entry text here..." class="form-control"></textarea>
            <div *ngIf="hasError('title')" class="invalid-feedback">
              <div *ngIf="form.get('title').errors?.required">
                Title is required
              </div>
            </div>

            <label for="title">Weight:</label>
            <input type="text" id="weight" formControlName="weight" maxlength="3" style="width: 100px;" required class="form-control" />
            <div *ngIf="hasError('weight')" class="invalid-feedback">
              <div *ngIf="form.get('weight').errors?.required">
                Weight is required
              </div>
            </div>
            <div *ngIf="form.get('weight').errors?.pattern">
              Weight should be numeric
            </div>
            <br />
            <button *ngIf="this.entryid" mat-raised-button color="primary" [disabled]="form.invalid" (click)="updateComment()">Update Entry</button>
            <button *ngIf="!this.entryid" mat-raised-button color="primary" [disabled]="form.invalid" (click)="createNew()">Create Entry</button>
            <button mat-raised-button color="primary" [routerLink]="['/calendar']">Cancel</button>
          </div>
          <br />
          <div class="form-group">
            <button mat-raised-button color="primary" (click)="markDone(1)">Done</button>
            <button mat-raised-button color="primary" (click)="markDone(0)">Not Done</button>
            <button mat-raised-button color="primary" (click)="deleteSelected()">Remove Activities</button>
            <button mat-raised-button color="primary" (click)="copyActivity()">Copy Activity to Next Day</button>
            <table mat-table [dataSource]="activitiesList2" class="mat-elevation-z8" [hidden]="!activitiesList2" matSort (matSortChange)="loadData()" width="100%">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let activity" [ngStyle]="{'background-color': activity.done == 1 && activity.activity_points>0 ? '#60d394':activity.done == 1 && activity.activity_points<0?'#ff9b85':'#fbf46d'}">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(activity) : null"
                                [checked]="selection.isSelected(activity)"
                                [aria-label]="checkboxLabel(activity)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let activity" [ngStyle]="{'background-color': activity.done == 1 && activity.activity_points>0 ? '#60d394':activity.done == 1 && activity.activity_points<0?'#ff9b85':'#fbf46d'}">{{activity.activity_id}}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let activity" [ngStyle]="{'background-color': activity.doneaaaa == 1 && activity.activity_points>0 ? '#60d394':activity.done == 1 && activity.activity_points<0?'#ff9b85':'#fbf46d'}">
                  {{activity.activity_name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
                <td mat-cell *matCellDef="let activity" [ngStyle]="{'background-color': activity.done == 1 && activity.activity_points>0 ? '#60d394':activity.done == 1 && activity.activity_points<0?'#ff9b85':'#fbf46d'}">{{activity.activity_points}}</td>
              </ng-container>

              <ng-container matColumnDef="done">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Done</th>
                <td mat-cell *matCellDef="let activity" [ngStyle]="{'background-color': activity.done == 1 && activity.activity_points>0 ? '#60d394':activity.done == 1 && activity.activity_points<0?'#ff9b85':'#fbf46d'}">{{formatActivityValue(activity.done)}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
            </table>

          </div>
        </div>
      </td>
      <td align="left" valign="top" style="width: 300px;">
        <div class="form" [formGroup]="formNewActivity" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" id="new_activity_name" formControlName="new_activity_name" required placeholder="Activity name..." class="form-control" />
            <div *ngIf="hasError('new_activity_name')" class="invalid-feedback">
              <div *ngIf="formNewActivity.get('new_activity_name').errors?.required">
                Activity name is required
              </div>
            </div>
          </div>

          <div class="form-group">

            <input type="text" id="new_activity_points" formControlName="new_activity_points" required placeholder="Points..." class="form-control" />
            <div *ngIf="hasError('new_activity_points')" class="invalid-feedback">
              <div *ngIf="formNewActivity.get('new_activity_points').errors?.required">
                Points is required
              </div>
              <div *ngIf="formNewActivity.get('new_activity_points').errors?.pattern">
                Points should be numeric
              </div>
            </div>
          </div>
          <button mat-raised-button colors="primary" [disabled]="formNewActivity.invalid" (click)="onAddNewActivity($event)">Add New Activity</button>
          <!--button mat-raised-button color="primary" (click)="onAddToTodayClick($event)">Add to today</!--button>-->
          <br /><br/>
          <mat-checkbox (change)="setDone = !setDone"
                        [checked]="setDone">
          </mat-checkbox>&nbsp;&nbsp;<label>Mark Done</label>

          <input type="text" (input)="onSearchChange($event.target.value)" class="form-control" [(ngModel)]="searchVal" [ngModelOptions]="{standalone: true}"/>
          <mat-selection-list #activities_list formControlName="activities_list" (selectionChange)="onActivitiesSelectChange($event)">
            <mat-list-option *ngFor="let activity of activitiesList" [value]="activity.activity_id" >
              {{activity.activity_name}}&nbsp;&nbsp;({{activity.activity_points}})
            </mat-list-option>
          </mat-selection-list>

          <p>
            Options selected: {{activities_list.selectedOptions.selected.length}}
          </p>
          <button mat-raised-button color="primary" (click)="onAddToTodayClick($event)">Add to today</button>
        </div>
      </td>
    </tr>
  </table>
  </div>


