<h1>Diary</h1>
<p>Diary Entries</p>
<p *ngIf="!entries"><em>Loading diary entries...</em></p>

<div class="commands text-right" *ngIf="entries">
  <button type="submit" [routerLink]="['/country']" class="btn-primary btn-success">Add a New Entry</button>
</div>


<mat-grid-list cols="4" align="left">
  <mat-grid-tile>
      <mat-calendar [selected]="selectedDateFrom"
              [startAt]="startAt"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [dateFilter]="myDateFilter"
              (selectedChange)="onSelectFrom($event)">
      </mat-calendar>
  </mat-grid-tile>
  <mat-grid-tile>
    <p class="cal_date">From: {{DayAndDateFrom}}, {{yearFrom}}</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-calendar [selected]="selectedDateTo"
                  [startAt]="startAtTo"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [dateFilter]="myDateFilter"
                  (selectedChange)="onSelectTo($event)">
    </mat-calendar>
    

  </mat-grid-tile>
  <mat-grid-tile><p class="cal_date">To: {{DayAndDateTo}}, {{yearTo}}</p></mat-grid-tile>
</mat-grid-list>


<table mat-table [dataSource]="entries" class="mat-elevation-z8" cellspacing="5" cellpadding="3" [hidden]="!entries"
       matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}"
       matSortDirection="{{defaultSortOrder}}">

  <ng-container matColumnDef="entry_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let diaryentry">
      <a [routerLink]="['/diaryentry',diaryentry.entry_id]">{{diaryentry.entry_date}}&nbsp;&nbsp;&nbsp;({{getDayOfWeek(diaryentry.entry_date)}})</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="entry_text">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
    <td mat-cell *matCellDef="let diaryentry"><div>{{formatText(diaryentry.entry_text)}}</div></td>
  </ng-container>
  <ng-container matColumnDef="entry_color">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
    <td align="center" mat-cell *matCellDef="let diaryentry" [ngStyle]="{'background-color': colorCell(diaryentry.total_points)}" style="color:white">
      {{diaryentry.total_points}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
</table>

<mat-paginator [hidden]="!entries"
               [pageSize]="10"
               [pageSizeOptions]="[10,20,50]"
               showFirstLastButtons></mat-paginator>
